<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" type="text/css" href="css/list.css" />
    <script src="js/build/react.js"></script>
    <script src="js/build/JSXTransformer.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/Showdown.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</head>
<body>
    <div id="J-wrapper" class="wrapper">
    </div>
    <script type="text/jsx">
    var List = React.createClass({
        getInitialState: function() {
            return {list: []};
        },
        componentWillMount: function () {
            var instance = this;
            // 获取列表
            $.ajax('/list').done(function (res) {
                var list;
                if (typeof res === 'object') {
                    list = res;
                } else {
                    list = $.parseJSON(res);
                }
                instance.setState({list: list});
            });
        },
        render: function () {
            function createItem(item) {
                var timeIndex = item.date.indexOf("T"),
                    converter = new Showdown.converter(),
                    content = converter.makeHtml(item.content);

                return (
                    <div className="report">
                        <h2>{item.date.slice(0, timeIndex)}</h2>
                        <div className="content"
                            dangerouslySetInnerHTML={{
                                __html: content
                            }}
                        />
                    </div>
                );
            }

            return(
                <p>
                    {this.state.list.map(createItem)}
                </p>
            );
        }
    });

    React.render(<List />, document.getElementById('J-wrapper'));
    </script>
</body>
</html>
